{% extends "layouts/base.html.twig" %}
{% block title 'CreateProject' %}
{% block body %}
	<h1>Create Project</h1>
	{{ form_start(createProjectForm) }}
	{{ form_widget(createProjectForm) }}
	<input class="btn btn-primary" type="submit" value="Create" formnovalidate>
	{{ form_end(createProjectForm) }}


{% endblock %}
